<nav
  class="flex items-center justify-between px-10 py-4 border-b-0 bg-[#30011a] text-[#ff0571] font-[Montserrat] tracking-widest font-bold uppercase">
  <ul class="flex gap-8 text-xs">
    <li> <a href="" class="hover:text-white">Inicio</a></li>
    <li> <a href="/products" class="hover:text-white">Productos</a></li>
    <li> <a href="#" class="hover:text-white">Contacto</a></li>
  </ul>

  <div class="absolute left-1/2 transform -translate-x-1/2">
    <a href="">
    <img [src]="logoUsado" alt="Logo" class="h-12" (mouseover)=cambiarLogo() (mouseout)=restaurarLogo()>
    </a>
  </div>

  <div class="flex gap-6 text-xs">
    <a href="#" class="hover:text-white">
      <span class="material-icons">search</span>
    </a>
    <a href="#" class="hover:text-white">
      <span class="material-icons">shopping_cart</span>
    </a>
  </div>
</nav>
